# Byte-compiled / cache files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
env/
.venv/
venv/
ENV/

# Django DB
*.sqlite3

# Logs
*.log

# Media (uploads)
media/

# System files
.DS_Store
*.swp
*.swo

# IDEs
.idea/
.vscode/

# Packaging
*.egg-info/
.eggs/
*.egg
build/
dist/

# Python environment
.Python
.installed.cfg

# Static – include your own, ignore built-in Django stuff
static/admin/
static/rest_framework/

# Secrets
.env

node_modules/
