{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% if action == 'Create' %}{% trans 'Create Blog Post' %}{% else %}{% trans 'Edit Blog Post' %}{% endif %}{% endblock %}

{% block content %}
<div class="container mt-4">
    <h2>{% if action == 'Create' %}{% trans 'Create Blog Post' %}{% else %}{% trans 'Edit Blog Post' %}{% endif %}</h2>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            {{ form.title.label_tag }}
            {{ form.title }}
            {% if form.title.errors %}
            <div class="alert alert-danger">
                {{ form.title.errors }}
            </div>
            {% endif %}
        </div>
        <div class="form-group">
            {{ form.content.label_tag }}
            {{ form.content }}
            {% if form.content.errors %}
            <div class="alert alert-danger">
                {{ form.content.errors }}
            </div>
            {% endif %}
        </div>
        <button type="submit" class="btn btn-primary">{% if action == 'Create' %}{% trans 'Create Post' %}{% else %}{% trans 'Update Post' %}{% endif %}</button>
        <a href="{% url 'blog:blog_list' %}" class="btn btn-secondary">{% trans 'Cancel' %}</a>
    </form>
</div>
{% endblock %} 