{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans "Edit" %}{% endblock %}

{% block content %}
<div class="blog-container">
    <h1>{% trans "Edit" %}</h1>
    <form method="post">
        {% csrf_token %}

        <input type="text" id="id_title" name="title" value="{{ post.title }}" required>

        <textarea id="id_content" name="content" required>{{ post.content }}</textarea>

        <div class="form-buttons-row">
            <a href="{% url 'blog:blog_list' %}" class="button">{% trans "Cancel" %}</a>
            <button type="submit" class="button">{% trans "Update" %}</button>
        </div>
    </form>
</div>
{% endblock %}
