{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="news-container">

  <div class="news-box">
    <h2>{% trans "Welcome to Tosia's website" %}</h2>
    <p>{% trans "This is the homepage. Explore the site or register to access more features." %}</p>
  </div>

  <div class="news-box">
    <h2>{% trans "Visit our Blog section" %}</h2>
    <p>{% trans "In the Blog section, you'll find posts added by the administrator." %}</p>
  </div>

  <div class="news-box">
    <h2>{% trans "Watch our recordings!" %}</h2>
    <p>{% trans "You can find Tosia's performance videos in the Videos section." %}</p>
  </div>

</div>
  
{% endblock %}
