{% extends 'base.html' %}
{% load i18n %}

{% block content %}
<div class="news-container">

  <div class="news-box">
    <h2>{% trans "Witaj na stronie Tosii" %}</h2>
    <p>{% trans "To jest strona główna. Zwiedzaj stronę lub zarejestruj się, aby uzyskać dostęp do większej liczby funkcji." %}</p>
  </div>

  <div class="news-box">
    <h2>{% trans "Zapraszamy do działu Blog" %}</h2>
    <p>{% trans "W dziale blog znajdziesz wpisy dodane przez administratora." %}</p>
  </div>

  <div class="news-box">
    <h2>{% trans "Obejrzyj nasze nagrania!" %}</h2>
    <p>{% trans "Wideo z występami Tosii znajdziesz w zakładce Wideo." %}</p>
  </div>

</div>
{% endblock %}
